<div class="panel panel-info">
    <div class="panel-heading">
        <h5>
            <b><span class="glyphicon glyphicon-plus"/> Create new room</b>
        </h5>
    </div>
    <div class="panel-body">
        <div class="form form-horizontal">
            <form novalidate>
                <div class="form-group">
                    <div class="col-md-3 text-right"><label for="room.name" >Name:</label></div>
                    <div class="col-md-4"><input id="room.name" type="text" class="form-control" ng-model="room.name"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 text-right"><label for="room.isActive">Room Enable:</label></div>
                    <div class="col-md-4">
                        <toggle-switch id="room.isActive" ng-model="room.isActive"></toggle-switch>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <a class="btn btn-warning right" href="/#!/">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </a>
            <button class="btn btn-success right" ng-click="send()">
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
        </div>
    </div>
</div>
