<link rel="stylesheet" href="css/chat.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
                <div class="col-sm-12">
                    <div class="btn-group chat-toolbar" role="group">
                        <h4><span class="glyphicon glyphicon-resize-small glyphicon-console"></span> {{ room.name }}</h4>
                    </div>
                </div>
            </div>
            <div class="row current-chat-area" scroll-glue>
                <div class="col-md-12">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <div class="media-body col-md-12" data-ng-repeat="message in model.messages">
                                        <small class="text-muted" ng-class="{'red': username == message.username}">
                                            ({{ message.date | date:'M/d/yy HH:mm:ss' }}) {{message.username}} :
                                        </small>
                                        <span class="text" ng-bind-html="message.message"></span>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row current-chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input" name="message" ng-model="message" x-webkit-speech/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="sendMessage(message)">Send</button>
                            <button class="btn btn-default" type="button" ng-click="openFileModal()">Attach file</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group chat-toolbar" role="group">
                <h4><span class="glyphicon glyphicon-list-alt small"></span> Users</h4>
            </div>
            <div class="row chats-row">
                <a ng-repeat="user in room.users" ng-class="{'list-group-item': true, 'list-group-item-success': username == user.username}">
                    <span class="glyphicon glyphicon-user small"></span> {{ user.username }}
                </a>
            </div>
        </div>
    </div>
</div>