<div class="panel panel-info">
    <div class="panel-heading">
        <div class="col-md-10">
            <h5>
                <b><span class="glyphicon glyphicon-list" /> All Rooms</b>
            </h5>
        </div>
        <div>
            <a class="btn btn-sm btn-primary" href="/#!/room/add">
                <span class="glyphicon glyphicon-plus" /> Add Room
            </a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th class="col-lg-7 text-center">Name</th>
                <th class="col-lg-3 text-center">Users</th>
                <th class="col-lg-2 text-center">Options</th>
            </tr>
            </thead>
            <tr ng-if="chatRoomsAll.content.length > 0" ng-repeat="chatRoom in chatRoomsAll.content">
                <td class="text-center"><b>{{ chatRoom.name }}</b></td>
                <td class="text-center"><button class="btn btn-primary disabled">{{ chatRoom.size }}</button></td>
                <td class="text-center">
                    <a class="btn btn-success" ng-click="joinToRoom(chatRoom.id)">
                        <span class="glyphicon glyphicon-log-in"></span> Join
                    </a>
                </td>
            </tr>
            <tr ng-if="chatRoomsAll.content.length === 0">
                <td>No chat rooms available.</td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
    </div>
</div>
