<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="dist/css/login.css"/>
</head>
<body>
<div class="container">
    <div class="row notification-container">
        <div class="col-md-12">
            <div id="notification-container-error" class="alert alert-danger" hidden>
                <span class="glyphicon glyphicon-warning-sign"></span> An error has occurred, please try again.
            </div>
            <div id="notification-container-success" class="alert alert-info" hidden>
                <span class="glyphicon glyphicon-ok"></span> Successfull !
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/login" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" tabindex="1" class="form-control" placeholder="Username" ng-model="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" action="/login/register" method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="username" tabindex="1" class="form-control" placeholder="Username"  ng-model="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" tabindex="2" class="form-control" placeholder="Password"  ng-model="password">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" tabindex="2" class="form-control" placeholder="Confirm Password"  ng-model="confirmPassword">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <!--<button ng-click="login()" id="register-submit" tabindex="4" class="form-control btn btn-register">Register Now</button>-->
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="application/javascript" src="/dist/js/login.js"></script>

</html>