<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Choose File to upload!</h3>
</div>
<form ng-submit="uploadFile()" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <!--<label for="file" class="custom-file-upload btn btn-primary">-->
                <!--<i class="glyphicon glyphicon-upload"></i> Choose file-->
            <!--</label>-->
            <input type="file" name="file" id="file" />
            <!--<label>-->
                <!--<i class="glyphicon glyphicon-file"></i> Choosen file: {{ filename }}-->
            <!--</label>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-transfer"></span> Upload file
        </button>
    </div>
</form>