.red { color: red; }
.chats-row { height: 100vh; }
.chats-row div {
    /*height: 50%;*/
    border: 1px solid #ddd;
    padding: 0px;
}
.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.current-chat {
    /*height: 100vh;*/
    border: 1px solid #ddd;
}
.chat-toolbar-row {
    background-color: #f5f5f5;
}
.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}
.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 70vh;
}
.current-chat-footer {
    bottom: 0;
}
.media-body {
    width: 100vh;
    word-wrap: break-word;
}
input[type="file"] {
    /*display: none;*/
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}