<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmosphere Chat AngularJS</title>
    <link rel="stylesheet" href="dist/css/all.css" />

</head>
<body data-ng-app="angular.atmosphere.chat">
<div id="page">
    <header class="container">
        <div class="row notification-container">
            <div class="col-md-12">
                <div id="notification-container-error" class="alert alert-danger" ng-show="error">
                    <span class="glyphicon glyphicon-warning-sign"></span> {{ errorMessage }}
                </div>
                <div id="notification-container-success" class="alert alert-info" ng-show="success">
                    <span class="glyphicon glyphicon-ok"></span> {{ successMessage }}
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" id="menu">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle"></button>
                <a class="navbar-brand" href="#">UTP CHAT</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#!/">Dashboard</a></li>
                    <li><a href="/login/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="container" id="body">
        <div ng-view></div>
    </section>
</div>
</body>

<script src="dist/js/all.js"></script>

</html>